.App {
  font-family: sans-serif;
  text-align: center;
  align-self: center;
}
body {
  background-color: #b3b4e8;
}

.card {
  background-color: white;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.myForm {
  display: flex;
  margin-bottom: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.myForm input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.myForm button {
  padding: 10px 14px;
  background-color: #6764cc;
  color: white;
  border: none;
  border-radius: 6px;
  width: 50px;
  margin-left: 5px;
}

.myForm button:hover {
  background-color: #8d8ae5;
}

.todolist {
  margin: 10px;
}

.task {
  display: flex;
  align-items: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
}

.task input[type="checkbox"] {
  margin-right: 10px;
}

.task span {
  flex: 1;
  text-align: start;
}

.task button {
  border-style: hidden;
  padding: 6px 15px;
  border-radius: 3px;
  margin-left: 5px;
}

.task button:hover {
  background-color: #cfcdcd;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

.backBtn {
  border-radius: 40px;
  height: 40px;
  padding: 0px 5px 0px 0px;
  width: 50px;
  color: white;
  background-color: #1976d2;
  border: none;
  
}

.backBtn:hover {
  background-color: #6badee;
  color:black;
}

.backBtn:active {
  color: white;
  background-color: #1976d2;
  
}

.myTitle {
  margin: 20px;
  font-size:xx-large;
  font-weight: bold;
}

.deleteBtn{
  background-color: red;
  color: white;
  font-weight: bold;
  margin: 10px;
}

.saveBtn{
  background-color: rgb(7, 192, 7);
  color: white;
  font-weight: bold;
  margin: 10px;
}

.formRow {
  display: flex;
  justify-content: center;
  margin: 10px;
}

label {
  width: 100px;
  text-align: end;
  padding-right: 10px;
}